@model IEnumerable<AgendaTarefas.Models.DatasViewModel>

@{
    ViewData["Title"] = "Tarefas Cadastradas";
}

@foreach(var item in Model)
{
    <div class="accordion" id="painelTarefas">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#@item.Identificadores">
                            @item.Data
                        </button>
                    </div>
                    <div class="col-2">
                        <a asp-action="CriarTarefa" asp-route-dataTarefa="@item.Data" class="btn btn-sm btn-outline-dark">Nova Tarefa</a>
                    </div>
                </div>
            </div>

            <div id="@item.Identificadores" class="collapse show" data-parent="#painelTarefas">
                <div class="card-body">
                    @await Component.InvokeAsync("ListaTarefas", item.Data)
                </div>
            </div>
        </div>
    </div>
        
}


